@model FinalPorjectDatabaseFirst3.Models.Booking

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerMobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerMobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookedStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookedStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CancelDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CancelDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScheduleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduleId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
